.navbar {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 10px 20px;
  }
  
  .greeting {
    font-size: 24px;
    flex-grow: 1;
  }
  
  .display-name {
    font-weight: bold;
  }
  .cover{
    justify-content: flex-end;
  }
  
  .search-bar {
    display: flex;
    border: 1px solid black;
    padding: 3px;
    border-radius: 8px;
   
  }
  .search-icon{
    padding-left: 1px;
   margin-top: 3%;
   margin-right: 1%;
  }
  input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
  }
  

	@media (max-width: 768px) {
    .greeting {
      font-size: medium;
     width: 20%;
     
    }
    .search-bar{
      width: 30%;
    }
    .search-bar input{
      width: 50%;
      margin-right: 0;
    }
    .display-name {
      font-weight: normal;
      width: max-content;
    }
  }

  